.nav-item{
   margin-left: 50px;
   margin-right: 50px;

}
.nav-link{
    color:#fefeff !important;
    position: relative;
    
}
.nav-link::after{
    opacity: 0;
    transition: all 0.2s;
    content:"";
    height:2px;
    width: 100%;
    background-color: #fdbaba;
    position: absolute;
    bottom: 0;
    left:0;
    
}

.nav-link:hover::after{
opacity: 1;
}


.color-nav {
    background-color: #ff5757;
    z-index: 3;
}

.logo-size {
    width: 150px;
    margin-left: 50px;
  }


