body {
  margin: 0;
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 80px;
}
.content {
  flex-grow: 1;
  margin-bottom: 80px;
}
